@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name </span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="btn btn-outline-success">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="usuarios" asp-action="login">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="usuarios" asp-action="register">Iniciar sesión</a>
        </li>
    }
</ul>