@model LoginViewModel

@{
    ViewData["Title"] = "login";
}

<h1>Login</h1>

@if (ViewData.Keys.Contains("mensaje"))
{
    <div class="alert alert-danger">
        @ViewData["mensaje"]
    </div>
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label" asp-for="Recuerdame"></label>
            </div>

            <button class="btn-primary btn mt-4">Login</button>
            <a class="btn btn-success mt-4" asp-action="Registro">Crear una nueva cuenta</a>

            <a class="btn btn-success mt-4" asp-action="LoginExterno" asp-route-proveedor="Microsoft">Continuar con
                Microsoft</a>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}